name: MLflow-CI-Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install Dependencies
      run: |
        pip install mlflow dagshub pandas scikit-learn

    - name: Run MLflow Project
      env:
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      
      run: |
        cd MLProject
        mlflow run . --no-conda --env-manager=local

    # BAGIAN DOCKER
    - name: Get Latest Run ID
      id: get_run_id
      env:
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        RUN_ID=$(python -c "import mlflow; mlflow.set_tracking_uri('https://dagshub.com/TimothyS710/Membangun_Sistem_ML.mlflow'); print(mlflow.search_runs(experiment_names=['Submission_Final_Workflow'], order_by=['start_time DESC']).iloc[0].run_id)")
        echo "run_id=$RUN_ID" >> $GITHUB_OUTPUT

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Docker Image
      env:
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        mlflow models build-docker \
          --model-uri "runs:/${{ steps.get_run_id.outputs.run_id }}/model" \
          --name "timothys710/submission-finall:latest" \
          --enable-mlserver
        
        docker push timothys710/submission-finall:latest